html,
body {
  font-family: "Indie Flower";
  height: 100%;
}

h2 {
  font-size: 2em;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

#post-it {
  display: flex;
  flex-wrap: wrap;
}

article {
  width: 200px;
  height: 200px;
  margin: 20px;
  border: 1px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.yellow{
    background-color: yellow;
    transform: rotate(-15deg) translate(30px, 50px);
    z-index: 1;
    animation: appear 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1;
}
@keyframes appear{
    0% {
        transform: rotate(-130deg);
        opacity: 0;
      }
     
      
      50% {
        transform: rotate(-58deg);
        opacity: 0.5;
      }
    
      100% {
        transform: rotate(-15deg);
        opacity: 1;
      }
    }


.yellow:hover {
  background-color: orange;
  color: black;
  z-index: 4;
  transform: scale(1.2);
}

.green{
    background-color: green;
    transform: rotate(6deg) translate(50px, 30px);
    z-index: 1;
    animation: appear2 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1;
}
@keyframes appear2{
    0% {
        transform: rotate(270deg);
        opacity: 0;
      }
     
      
      50% {
        transform: rotate(180deg);
        opacity: 0.5;
      }
    
      100% {
        transform: rotate(6deg);
        opacity: 1;
      }
    }

.green:hover{
    background-color: yellowgreen;
  color: black;
  z-index: 4;
  transform: scale(1.2);
}

.violet{
    background-color: violet;
    transform: rotate(359deg) translate(40px, 80px);
    z-index: 1;
    animation: appear3 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1;
}

@keyframes appear3{
    0% {
        transform: rotate(90deg);
        opacity: 0;
      }
     
      
      50% {
        transform: rotate(180deg);
        opacity: 0.5;
      }
    
      100% {
        transform: rotate(359deg);
        opacity: 1;
      }
    }

.violet:hover{
    background-color: orchid;
  color: black;
  z-index: 4;
  transform: scale(1.2);
}


